.topContainer {
// width: 100vw;
height: 70vh;
background-image: url("chill1.jpeg");
background-position:top;
background-repeat: no-repeat;
background-size: cover;
  .header {
    background-color: white;
    color: black;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    .logo {
      margin-left: 0px;
      margin-right: auto;
      a {
        padding: 10px;
        font-size: 4em;
        color: red;
      }
    }
    .headerText {
      color: blue;
      font-size: 1.5em;
      a {
        padding: 0px 10px 0px 10px;
      }
    }
  }
}
