//MAIN two websites below, Jaunts.info and Jaunts Web Services
body {
  padding: 0;
  margin: 0;
.bodyContainer{
  position: relative;
}

  .nav {
    font-size: 1.5em;
    z-index: 100;
    background-color: #0f0f0f;
    color: white;
    display: flex;
    flex-direction: row;
    align-items:center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    a {
      margin: 10px 20px 10px 20px;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
    }
    a:hover {
      color: #ff501f;
      // text-decoration: underline;
    }
  }


  .banner {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    background-image: url(bannerSlide1.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    .bannerTextDiv{
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      text-align: center;
      margin: auto;
      margin-top: 3vh;
      margin-bottom: 3vh;
      width: 30vw;
      background-color: black;
      opacity: 0.9;
      color: white;
      border-radius: 10px;
      padding: 20px;
      .heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      .jaunts {
        font-size: 4em;
        padding: 20px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
        color: #ff501f;
        text-align: center;
      }
      .town {
        display: none;
      }
    }
  }
    .search {
      background-color: white;
      height: 60px;
      border-radius: 10px;
      input {
        width: 20vw;
        border: none;
        font-size: 1.5em;
        padding-left: 1vw;
        color: #33635c;
      }
      input:focus {
      outline-width: 0;
      }
      button {
        border: none;
        background-color: #ff501f;
        color: white;
        height: 60px;
        width: 60px;
        margin-left: auto;
        margin-right: 0px;
        border-radius: 0px 10px 10px 0px;
      }
      button:hover {
        background-color: #e03201;
      }
    }
  }
  .resultsDiv{
    display: none;
  }


//Second layout for after the initial town search
.layout2 {
  .bodyContainer{
    width: 100%;
    position: relative;
    margin: auto;
  }

    .banner {
      height: 18vh;
      padding: 0px;
      margin: 0px;
      width: 100%;
      position: fixed;
      z-index: 90;
      overflow: hidden;
      background-image: none;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      align-content: center;
      justify-content: center;
      background-color: black;
      background-image: url("bannerSlide1.jpg");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      // opacity: 0.9;
      .bannerTextDiv{
        border-radius: 0;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        background-color: black;
        opacity: 0.9;
        width: 100vw;
        height: 18vh;
        color: white;
        .heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        .jaunts {
          display: none;
        }
        .dynamicTownName{
          height:   3em;
          padding-top: 20px;
          .town {
            display: inline;
            font-size: 2em;
            color: white;
            padding: 0px;
            margin: 0px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px 10px 20px 10px;
          }
        }
      }
    }
      .search {
        background-color: white;
        height: 50px;
        border-radius: 10px;
        input {
          width: 20vw;
          border: none;
          font-size: 1.5em;
          padding-left: 1vw;
          color: #33635c;
        }
        input:focus {
        outline-width: 0;
        }
        button {
          border: none;
          background-color: #ff501f;
          color: white;
          height: 50px;
          width: 50px;
          margin-left: auto;
          margin-right: 0px;
          border-radius: 0px 10px 10px 0px;
        }
        button:hover {
          background-color: #e03201;
        }
      }
    }
  .resultsDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 26vh;

    #loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #ff5900;
      // border-right: 16px solid #ff5900;
      border-bottom: 16px solid #ff5900;
      // border-left: 16px solid #ff5900;
      width: 120px;
      height: 120px;
      margin-top: 10vh;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    .hideLoader {
      display: none;
    }

    #results {
      .jaunt {
        display: flex;
        justify-content:flex-end;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2em;
        border-bottom: solid .5px #cccccc;
        // border-radius: 10px;
        background-color: white;
        // margin: 1em;
        // height: 20em;
        width: 50vw;
        .businessDetails {
          margin-left: 0;
          margin-right: auto;
          max-width: 30vw;
          font-family: Arial, Helvetica, sans-serif;
          color: #2e2e2e;
          .businessName {
            font-size:1.8em;
            color: #005463;
            text-decoration: none;
            margin-bottom: 0px;
          }
          .price {
            margin-top: 2px;
            font-size: 1.5em;
            font-weight: bold;
          }
          p {
            font-size: 1.2em;
          }
        }
        .imageContainer {
          height: 250px;
          width: 250px;
          overflow: hidden;
          border: solid white 20px;
          min-width: 250px;
          img {
            padding: 10px;
            height: 350px;
            margin-right: 0px;
          }
        }
      }
    }
    .noResultsMessage {
      font-family: Arial, Helvetica, sans-serif;
      color: #585959;
      font-size: 2em;
      padding-top: 8vh;
    }
  }
  .failedResultsMessage {
    font-family: Arial, Helvetica, sans-serif;
    color: #585959;
    font-size: 2em;
    padding-top: 8vh;
  }
}
}















//This portion is on the Web Servivces page, services.html
  .servicesBanner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 50vh;
    width: 100%;
    // background-color: #4583ce;
    background-image: url("servicesBanner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-bottom: solid #2b2b2b 1px;
    .servicesHeading {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .title {
        font-size: 5em;
        padding-top: 13vh;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
        margin-top: 4vh;
        margin-bottom: 2vh;
      }
      .titleTwo {
        font-size: 4em;
        color: #d4ff4f;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 0px;
        // margin-bottom: 5vh;
      }
    }
  }



  .aboutDiv {
    max-width: 1024px;
    height:60vh;
    position: relative;
    background-image: url("dreamComputer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    border-radius: 20px;
    text-align: center;
    h2 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2em;
      padding: 7em 4em 0em 4em;
      color: black;
    }
    p {
      font-family: Arial, Helvetica, sans-serif;
      padding: 0em 4em 0em 4em;
      font-size: 1.5em;
      color: black;
    }
  }

  .layoutsDiv {
    max-width: 1024px;
    position: relative;
    background-color: #f5ffc6;
    margin: 3vh auto 3vh auto;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 2em;
    h1 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2em;
      padding: 1em 1em 0em 1em;
      color: black;
    }
    h3 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.5em;
      padding: 0em 1em 1em 1em;
      color: black;
    }
    .layoutEx {
      width: 60%;
      height: 10vw;
      margin: 2em auto 2em auto;
      background-color: white;
      border: solid #848484 1px;
    }
    .yummyLink {
      text-decoration: none;
          .layoutYummy {
      width: 60%;
      height: 30vh;
      margin: 2em auto 2em auto;
      background-color: white;
      background-image: url(yummySs.png);
      background-size: cover;
      background-repeat: no-repeat;
      border: solid #848484 1px;
      opacity: 1;
      h1 {
        display: none;
      }
    }
    .layoutYummy:hover {
      width: 60%;
      height: 30vh;
      margin: 2em auto 2em auto;
      background-color: white;
      background-image: url(yummySs.png);
      background-size: cover;
      background-repeat: no-repeat;
      border: solid #848484 1px;
      opacity: 0.7;
      h1 {
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        color: #0300ff;
        font-size: 4em;
      }
    }
  }
  }
  //End of web services portion
