.bodyContainer {
  width: 100%;
  position: relative;
  margin: auto; }

.nav {
  z-index: 100;
  height: 6vh;
  background-color: white;
  border-bottom: solid #d3edeb 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%; }
  .nav a {
    margin: 10px 20px 10px 20px;
    color: #3e605b;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; }
  .nav a:hover {
    color: #243835;
    text-decoration: underline; }

.servicesBanner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 50vh;
  width: 100%;
  background-image: url("servicesBanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border-bottom: solid #2b2b2b 1px; }
  .servicesBanner .servicesHeading {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    .servicesBanner .servicesHeading .title {
      font-size: 5em;
      padding-top: 13vh;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      text-align: center;
      margin-top: 4vh;
      margin-bottom: 2vh; }
    .servicesBanner .servicesHeading .titleTwo {
      font-size: 4em;
      color: #d4ff4f;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 0px; }

.aboutDiv {
  max-width: 1024px;
  height: 60vh;
  position: relative;
  background-image: url("dreamComputer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  border-radius: 20px;
  text-align: center; }
  .aboutDiv h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 7em 4em 0em 4em;
    color: black; }
  .aboutDiv p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0em 4em 0em 4em;
    font-size: 1.5em;
    color: black; }

.layoutsDiv {
  max-width: 1024px;
  position: relative;
  background-color: #f5ffc6;
  margin: 3vh auto 3vh auto;
  border-radius: 20px;
  text-align: center;
  padding-bottom: 2em; }
  .layoutsDiv h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 1em 1em 0em 1em;
    color: black; }
  .layoutsDiv h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    padding: 0em 1em 1em 1em;
    color: black; }
  .layoutsDiv .layoutEx {
    width: 80%;
    height: 10vw;
    margin: 2em auto 2em auto;
    background-color: white;
    border: solid #848484 1px; }
  .layoutsDiv .layoutYummy {
    width: 80%;
    height: 30vh;
    margin: 2em auto 2em auto;
    background-color: white;
    background-image: url(screenshot.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: solid #848484 1px; }

.banner {
  position: relative;
  padding-top: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 50vh;
  width: 100%;
  background-image: url(banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top; }
  .banner .heading {
    color: white;
    display: flex;
    flex-direction: column; }
    .banner .heading .jaunts {
      font-size: 4em;
      font-family: Arial, Helvetica, sans-serif;
      color: #f93802;
      text-align: center;
      margin-top: 8vh;
      margin-bottom: 2vh; }
    .banner .heading .town {
      font-size: 3em;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 0px;
      margin-bottom: 5vh; }
  .banner .search {
    background-color: white;
    height: 50px;
    border-radius: 10px; }
    .banner .search input {
      width: 20vw;
      border: none;
      font-size: 1.5em;
      padding-left: 1vw;
      color: #33635c; }
    .banner .search input:focus {
      outline-width: 0; }
    .banner .search button {
      border: none;
      background-color: #f93802;
      color: white;
      height: 50px;
      width: 50px;
      margin-left: auto;
      margin-right: 0px;
      border-radius: 0px 10px 10px 0px; }
    .banner .search button:hover {
      background-color: #e03201; }

.wrapper {
  z-index: 0;
  position: relative;
  height: 103%;
  min-height: 100vh; }
  .wrapper .mainBodyBackground {
    height: 103%;
    width: 99%;
    position: fixed; }
  .wrapper .container {
    position: relative;
    background-attachment: fixed; }
    .wrapper .container #results {
      display: flex;
      flex-direction: column;
      max-width: 1024px;
      justify-content: center;
      margin-left: auto;
      margin-right: auto; }
      .wrapper .container #results .juant {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        padding-top: 1vh;
        border-radius: 10px;
        background-color: white;
        margin: 1em;
        height: 10em;
        width: 100%; }

/*# sourceMappingURL=style.css.map */
